body {
    background-color: rgb(38, 53, 97);
    background-image: url('imgs/background.avif');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar {
    z-index: 2;
    font-size: 25px;
    font-family: "basic-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nav-link {
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 2px;
    background-color: transparent;
    transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-link:hover::before {
    right: 0;
    background-color: rgb(194, 194, 19);
}

.navbar {
    background: rgb(25, 25, 91);
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-item {
    margin: 0 10px;
}

.navbar-toggler-icon {
    border-radius: 5px;
}

.container{
    margin-left:0;
}

.leftpic{
  width: 900px;
  margin-left: 740px;
  margin-bottom: -200px;
}


.yellow {
    max-width: 100%;
    background-color: rgb(255, 246, 70);
}
.carousel{
    height:500px;
    width:700px;
    padding-left: 200px;
}
.stacked-words {
    font-size: 60px;
    line-height: 1.5;
    writing-mode: horizontal-tb;
    transform: translateX(20px);
    font-family: "matrix-ii", serif;
    font-weight: 800;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 237, 35);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(193, 178, 14);
}

#seasonTitle{
    color:white;
    letter-spacing: 10px;
    font-size: 65px;
}
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  /* Ensuring images fit well */
  .episode-img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    border: 4px solid #E8C766;
  }
  .episode-img:hover {
    transform: scale(1.05);
  }

  
  .news-ticker {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0011aa;
    color: white;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1000;
}

.news-ticker .ticker-content {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.site-footer
{
  background-color:#000828;
  padding:45px 0 60px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#ff0000
}
.social-icons a.twitter:hover
{
  background-color:#2b2b2b
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}