body {
    background-color: rgb(38, 53, 97);
    background-image: url('imgs/background.avif');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 450px;
    
}

.navbar {
    z-index: 2;
    font-size: 25px;
    font-family: "basic-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nav-link {
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 2px;
    background-color: transparent;
    transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-link:hover::before {
    right: 0;
    background-color: rgb(194, 194, 19);
}

.navbar {
    background: rgb(25, 25, 91);
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-item {
    margin: 0 10px;
}

.navbar-toggler-icon {
    border-radius: 5px;
}

.container1{
    margin-left:0;
}

.leftpic {
    max-width: 100%;
    margin-left: 0;

}
.rightpic{
    width: 950px;
    height: 550px;
}


.stacked-words {
    font-size: 7rem;
    line-height: 1.5;
    writing-mode: horizontal-tb;
    transform: translateX(20px);
    font-family: "matrix-ii", serif;
    font-weight: 800;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 237, 35);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(193, 178, 14);
}
.button{
    width: 270px;
    height: 150px;
    background-color: #3361AC;
    border: 3px solid #E8C766;
    border-radius: 10px;
}
.button:hover{
    background-color: rgb(11, 11, 101);
    border: 3px solid rgb(112, 112, 34);
}
.butn{
    width: 250px;
    height: 100px;
    background-color: #E8C766;
    border: 3px solid #3361AC;
    font-size: 30px;
    border-radius: 10px;
}
.butn:hover{
    background-color:rgb(112, 112, 34);
    border: 3px solid rgb(11, 11, 101);
}
.buttonrow{
    margin-top: 200px;
}
.carousel{
    width: 900px;
    height: 500px;
}